# command to install torch-cuda: pip install torch==1.12.0+cu113 torchvision==0.13.0+cu113 torchaudio==0.12.0 --extra-index-url https://download.pytorch.org/whl/cu113
pandas
psycopg2-binary
tqdm
scikit-learn
numpy
# torch # 1.12.0+cu113
# torchvision
# dgl  # pip install torch==1.12.0+cu113 torchvision==0.13.0+cu113 torchaudio==0.12.0 --extra-index-url https://download.pytorch.org/whl/cu113
osfclient
paramiko
scp
dataclasses
pytest
optuna
jupyter
gensim
matplotlib
seaborn
absl-py
glog
networkx
tabulate
scipy
yapf
mako
pyarrow
filelock
lightgbm
func-timeout
